.MoviesList {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
    grid-gap: 16px;

    &.x-scroll {
      display: flex;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scroll-snap-type: both proximity;

      gap: 16px;
      padding-bottom: 16px;

      .MovieCard {
        scroll-snap-align: center;
        min-width: 136px;
        max-width: 136px;
      }
    }
  }

  &__no-results {
    width: 100%;
    text-align: center;
    padding: 10.8rem 3.2rem;
  }
}
