@use "@styles/vars";

.Categories__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-weight: 100;
  white-space: nowrap;
  justify-content: center;
  &.x-scroll{
    justify-content: initial;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: both proximity;
    flex-wrap: nowrap;
  }

  .CategoryLink {
    scroll-snap-align: center;
    background-color: vars.$gray-color;
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:where(:hover, .active) {
      background-color: vars.$red-color;
    }
  }
}
