.SectionLayout {
  &__header {
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
    margin-bottom: 16px;
    grid-gap: 16px;
    &.center{
      display: flex;
      justify-content: center;
      gap: 16px;
      align-items: center;
    }
  }
  &__title {
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
